<% include ./partials/header.ejs %>

      <div class="starter-template">
        <h1>DevPleno</h1>
        <p class="lead">FULLSTACK MASTER<br> CRUD-ORM JS CODE PURE</p>


        <video width="300px" height="300px" muted>
        <source src="videos/devpre.mp4" type="video/mp4">
      </video>
      </div>

    <% include ./partials/footer.ejs %>